<p class="alert text-center"><%= alert %></p>



<h1 class="songs_heading">Your songs</h1>
<div class="d-flex allign-content-center justify-content-center flex-column container">
<table class="table_songs">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <%= song.name %>
        </td>
        <td>
          <%= song.artist %>
        </td>
        <td>
          <%= song.album %>
        </td>
        <td class="songs_funtions">
          <%= link_to 'Info', song %>
        </td>
        <td class="songs_funtions">
          <%= link_to 'Edit', edit_song_path(song) %>
        </td class="songs_funtions">
        <td class="songs_funtions">
          <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          add to playlist
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% @playlists.each do |playlist| %>
            <li><%= link_to playlist.name, addSongToPlaylist_path(:playlist_id => playlist.id, :id => song.id), method: :post %></li>
          <% end %>

        </ul>
      </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br/>
<%= link_to 'Add song', new_song_path, class: "add_song_link" %>
